    <html lang="en">
     
       <%- include header %>
       <!-- Main component for a primary marketing message or call to action -->
          <div class="jumbotron">



          <div id="mario-chat">

      <% if (user_data.length > 0) { %>
       <div class="alert alert-success col-sm-12">Welcome: <%= username %></div>
        <% } %>
                                       
        <h2>Fse Chat Application: </h2>

    </div>
        <div id="chat-window">



        <div id="output"> 
          
            <% for(var i=0; i < message_data.length; i++) { %>

             <p><%= message_data[i].handle %>:  <%= message_data[i].timestamp %></br> 
             <%= message_data[i].message %>
             </p>

           <% } %>
            </div>
          
        <div id="feedback"></div>


         </div>

         <input id="handle" type="hidden" placeholder="Handle" value="<%= username %>" />


         <input id="message" type="text" placeholder="Message"/>

         <button id="send">Post</button>

        </div>



      <script src = "../js/chat.js" type="text/javascript"></script>
          </div>

        <%- include footer %>